*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    position: relative;
}

@font-face {
    font-family: 'MuseoModerno';
    src: url('../assets/fonts/MuseoModerno-VariableFont_wght.ttf');
}

:focus{
    outline: 2px solid red;
    outline-offset: 4px;
}

:root{
    --main-color: pink;
    --bg-color: var(--main-color);
    --border-color: blue;
    --border: 2px solid var(--border-color);

    --skeleton-color: #f2f2f2;
    --skeleton-loading: #e0e0e0;

    --2-col-grid: repeat(2, 1fr);
    --3-col-grid: repeat(3, 1fr);

    --container-padding: 20px;
}

body {
    font-family: 'MuseoModerno', sans-serif;
    max-width: 960px;
    margin-inline: auto;
}

body:has(aside.show),
body:has(dialog[open]){
    overflow: hidden;
}

a{
    text-decoration: none;
    color: inherit;
}

button{
    cursor: pointer;
}

ul{
    list-style: none;
}

header, main, aside, footer, dialog {
    position: relative;
    padding: var(--container-padding);
}

header{
    position: sticky;
    top: -60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    background-color: white;
    z-index: 9;
}

header h1{
    line-height: 1.7rem;
}

header section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

body:not(#home) header section{
    display: none;
}

header section h2::before{
    content: "";
    position: absolute;
    bottom: -4px;
    height: 4px;
    background-color: green;
    animation: load_underline .6s 1.2s ease-out forwards;
}

@keyframes load_underline{
    0%{
        width: 0;
    }
    100%{
        width: 20px;
    }
}

header section > div{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    overflow: hidden;
    border-radius: 2px;
    border: var(--border);
}

header section > div::before{
    content: "";
    position: absolute;
    inset-block: 0;
    width: 50%;
    background-color: green;
    transition: all 0.3s ease-out;
}

header section > div:has(input:first-of-type:checked)::before{
    transform: translateX(0);
}

header section > div:has(input:last-of-type:checked)::before{
    transform: translateX(100%);
}

header section > div label{
    display: grid;
    place-content: center;
}

header section > div label div{
    display: grid;
    gap: 2px;
    padding: 5px 10px;
    cursor: pointer;
}

header section > div label:first-of-type div{
    grid-template-columns: repeat(2, 1fr);
}

header section > div label:last-of-type div{
    grid-template-columns: repeat(3, 1fr);
}

header section > div label div span{
    width: 10px;
    height: 10px;
    background-color: white;
    border: 2px solid black;
    border-radius: 2px;
}

header section div input{
    display: none;
}

main{
    display: flex;
    flex-direction: column;
    transition: all 0.6s ease-in-out;
}

main.page-transition{
    opacity: 0;
    transform: scale(.95);
}

main.loading{
    position: absolute;
    inset-inline: 0;
    top: 0;
    height: 100vh;
    display: grid;
    place-content: center;
}

main.loading h1::before{
    content: "";
    position: absolute;
    bottom: -4px;
    width: 50%;
    height: 4px;
    background-color: green;
    animation: page-loader .5s ease-out infinite alternate;
}

@keyframes page-loader{
    0%{
        transform: translateX(-100%);
    }
    100%{
        transform: translateX(150%);
    }
}

main ul,
aside ul{
    display: grid;
    grid-template-columns: var(--2-col-grid);
    width: 100%;
}

body:has(header div input:last-of-type:checked) main ul{
    grid-template-columns: var(--3-col-grid);
}

main ul li,
aside ul li{
    display: grid;
    aspect-ratio: 1/1;
    overflow: hidden;
    transform: scale(.8);
    opacity: 0;
    background-color: var(--skeleton-color);

    transition: transform 0.6s ease-out, opacity 0.6s ease-in;
}

main ul li.skeleton,
aside ul li.skeleton{
    opacity: 1;
    transform: scale(1);
}

main ul li.loaded,
aside ul li.loaded{
    opacity: 1;
    transform: scale(1);
}

main ul li.skeleton::before,
aside ul li.skeleton::before{
    content: "";
    position: absolute;
    top: 50%;
    display: grid;
    place-content: center;
    width: 30px;
    height: 400px;
    background-color: var(--skeleton-loading);
    filter: blur(20px);
    animation: skeleton 2s infinite ease-in;
}

@keyframes skeleton {
    0%{
        transform: translate(-300px, -200px);
        rotate: 45deg;
    }
    40%{
        transform: translate(-300px, -200px);
    }
    100%{
        transform: translate(calc(200% + 300px), -200px);
        rotate: 45deg;
    }
}


main ul li a,
aside ul li a{
    display: grid;
    aspect-ratio: 1/1;
}

main ul li a img,
aside ul li a img{
    grid-row: 1/-1;
    grid-column: 1/-1;
    width: 100%;
    height: 100%;
    object-fit: cover;
    aspect-ratio: 1/1;
    transform: scale(1.1);
    transition: all 0.6s ease-in;
}

main ul li.show-options a img,
aside ul li.show-options a img,
main ul li:hover:not(:has(button.mobile)) a img,
aside ul li:hover:not(:has(button.mobile)) a img,
main ul li:focus-within:not(:has(button.mobile)) a img,
aside ul li:focus-within:not(:has(button.mobile)) a img{

    transform: scale(1);
    filter: brightness(0.8)
}

main ul li a h3,
aside ul li a h3{
    grid-row: 1/-1;
    grid-column: 1/-1;
    place-self: center;
    padding: 0 var(--container-padding);
    opacity: 0;
    z-index: 4;
    transition: all 0.6s ease-in;
    color: white;

    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    filter: drop-shadow(0 0 10px black);
}

main ul li.show-options a h3,
aside ul li.show-options a h3,
main ul li:hover:not(:has(button.mobile)) a h3,
aside ul li:hover:not(:has(button.mobile)) a h3,
main ul li:focus-within:not(:has(button.mobile)) a h3,
aside ul li:focus-within:not(:has(button.mobile)) a h3{
    opacity: 1;
}

main ul li section,
aside ul li section{
    position: absolute;
    inset-block: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
}

main ul li section button,
aside ul li section button{
    padding: 5px;
    background: white;
    border-radius: 50%;
    opacity: 0;
    aspect-ratio: 1/1;
    font-size: 1.25rem;
    transition: .6s ease-in;
    z-index: 99;
}

li article > button{
    position: absolute;
    inset: 0;
    background-color: rgba(255, 255, 255, .2);
    font-weight: 700;
    z-index: 99;
    pointer-events: all;
    transition: .6s ease-in;
}

li article:has(> button.mobile) a{
    pointer-events: none;
}

li.show-options article > button,
li:hover article > button:not(.mobile),
li:focus-within article > button{
    opacity: 0;
}

li:hover article > button:not(.mobile),
li.continue-navigation article > button{
    /* opacity: 1; */
    pointer-events: none;
}


li:hover article:has(> button:not(.mobile)) a,
li.show-options article:has(button.mobile) a{
    pointer-events: all;
}

main button.saved{
    animation: saved .6s ease-in;
}

@keyframes saved{
    0%{
        transform: translateY(0);
    }
    25%{
        transform: translateY(-5px);
    }
    50%{
        transform: translateY(20px) rotateY(0);
    }
    100%{
        transform: translateY(0) rotateY(360deg);
    }
}

main button.removed{
    animation: removed .3s ease-in;
}

@keyframes removed{
    0%{
        transform: translateY(0);
    }
    50%{
        transform: scale(.8);
    }
    100%{
        transform: translateY(0);
    }
}

main ul li.show-options section button,
aside ul li.show-options section button,
main ul li:hover:not(:has(button.mobile)) section button,
aside ul li:hover:not(:has(button.mobile)) section button,
main ul li:focus-within:not(:has(button.mobile)) section button,
aside ul li:focus-within:not(:has(button.mobile)) section button{
    opacity: 1;
}

main span{
    display: grid;
    place-content: center;
    height: 30px;
}

footer section {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    z-index: 11;
}

footer button {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

aside{
    position: fixed;
    bottom: 0;
    inset-inline: 0;
    display: flex;
    flex-direction: column;
    gap: 16px;
    height: 91vh;
    padding: var(--container-padding);
    background: linear-gradient(180deg, rgba(33, 31, 31, .5) 0%, rgba(33, 31, 31, 1) 2%,  rgba(255, 255, 255, .8) 100%);
    color: white;
    opacity: 0;
    transform: translateY(100%);

    z-index: 10;
    transition: all 0.5s ease-in-out .3s;
}

aside div{
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    max-width: 800px;
    margin-inline: auto;
}

aside[aria-label="favorites"] ul{
    display: grid;
    grid-template-columns: var(--2-col-grid);
    gap: 10px;
}

aside[aria-label="favorites"] ul li{
    display: flex;
    flex-direction: column;
}

aside[aria-label="favorites"].show,
aside[aria-label="filters"].show{
    opacity: 1;
    transform: translateY(0);
    overflow-y: auto;
}

body:has(aside.show) main{
    filter: blur(20px);
    pointer-events: none;
}

aside > div > section{
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: rgba(0, 128, 0, 0.95);
    overflow-x: auto;
    z-index: 1;
}

aside > div > section > button{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

aside form{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

aside form > label:first-of-type{
    display: flex;
    flex-direction: column;
    font-weight: 700;
    font-size: 1.25rem;
}

aside form input[type="search"]{
    border-radius: 5px;
    padding: 10px 5px;
}

aside form fieldset{
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    padding: 10px;
}

aside form fieldset label{
    display: flex;
    align-items: center;
    gap: 5px;
    background-color: green;
    padding: 5px 10px;
    border-radius: 50px;
}

aside form fieldset label:has(input:checked){
    background-color: purple;
}

aside form button{
    background-color: aqua;
    border-radius: 5px;
    padding: 10px 20px;
}

dialog[open]{
    position: fixed;
    inset: 0;
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 500px;
    max-height: none;
    margin: auto;
}

dialog[open]::backdrop {
    background: rgba(0, 0, 0, .8);
}

dialog[open] form{
    align-self: end;
}

dialog[open] form button{
    height: 50px;
    border-radius: 50%;
    aspect-ratio: 1/1;
    background-color: white;
}

dialog[open] div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    width: 100%;
}

dialog[open] div a{
    padding: 10px 20px;
}

dialog[open] div a:first-of-type{
    border: 2px solid purple;
}

dialog[open] div a:last-of-type{
    color: white;
    font-weight: 700;
    background-color: purple;
}

body#details main section{
    max-width: 600px;
    margin-inline: auto;
}

body#details main section a{
    display: block;
    width: fit-content;
}

body#details main article{
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 20px;
}

body#details main article img{
    width: 100%;
    max-height: 600px;
}

body#details main article button{
    position: absolute;
    top: 50px;
    right: 10px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}