*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --theme-color: pink;
    --bg-color: #a13f3f;
    --card-cover: teal;
    --card-cover-text: white;
    --card-cover-underline: black;
    /* --card-cover: #a13f3f;
    --bg-color: teal; */
    --card-color: white;
    --border-color: #e5e5e5;
    /* --border-color: red; */
    --border-radius: 10px;
    --aside-start: calc(-100% - 10px);
    --github-color: #6e5494;
    --linkedin-color: #0a66c2;
    --standard-shadow: 0 0 30px rgba(0, 0, 0, 0.8);
}

ul{
    list-style: none;
}

button {
    border: none;
    outline: none;
    cursor: pointer;
}

body {
    display: grid;
    place-items: center;
    height: 100vh;
    background-color: var(--bg-color);
    font-family: 'Roboto', sans-serif;
    overflow: hidden;
}

body > article {
    position: relative;
    width: 75%;
    height: 500px;
    min-width: 300px;
    max-width: 500px;
    background-color: white;
    border-radius: var(--border-radius);
    box-shadow: var(--standard-shadow);
    cursor: pointer;
    transition: translate 0.6s ease-in-out;
}

body > article:has(header.hide) {
    translate: 0 -10%;
}

body > article > section{
    height: 100%;
    width: 100%;
    overflow: hidden;
    border-radius: inherit;
}

body > article > aside{
    position: absolute;
    inset-inline: 0;
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-top: 10px;
    padding: 10px 15px;
    background-color: var(--card-cover);;
    border-radius: 0 0 var(--border-radius) var(--border-radius);
    box-shadow: var(--standard-shadow);
    z-index: -1;
    translate: 0 0;
    animation: hide_aside 0.6s ease-in-out .3s forwards;
    overflow: hidden;
}

body:has(header.hide) > article > aside{
    translate: 0 var(--aside-start);
    animation: show_aside 0.6s ease-in-out forwards;
}

body > article > aside ul{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 10px;
}

body > article > aside ul li{
    padding: 5px 10px;
    border-radius: 20px;
    color: white;
    font-weight: bold;
    background-color: black;
    cursor: pointer;
}

@keyframes show_aside {
    0% {
        translate: 0 var(--aside-start);
    }
    80% {
        translate: 0 10px;
    }
    100% {
        box-shadow: var(--standard-shadow);
        translate: 0 0;
    }
}

@keyframes hide_aside {
    0% {
        translate: 0 0;
    }
    20% {
        translate: 0 10px;
    }
    100% {
        translate: 0 var(--aside-start);
        box-shadow: none;
    }
}


body > article > aside ul{
    display: flex;
    justify-content: start;
    gap: 5px;
}

body > article header {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 10px;
    width: 100%;
    height: 100%;
    padding: 40px 10px 10px;
    color: var(--card-cover-text);
    background-color: var(--card-cover);
    overflow: hidden;
    z-index: 1;
    transform: translateY(0);
    transition: transform .8s ease-in-out;
}

body > article header.idle{
    animation: hint 5s ease-in infinite;
}

body:has(header.hide) > article header {
    transform: translateY(-83%);
    animation: none;
}

body > article header h1{
    top: 20px;
}

body:has(header.hide) > article header h1{
    order: 1;
}

body > article header h1::before{
    content: "<";
}

body:has(header.hide) > article header h1::before {
    content: "</";
}

body > article header h1::after {
    content: ">";
}

body > article header img{
    width: 200px;
    aspect-ratio: 1/1;
    border-radius: 50%;
    background-color: lightgrey;
}

body > article header h2 {
    position: relative;
}

body > article header h2::before {
    content: "";
    position: absolute;
    bottom: -10px;
    width: 50%;
    height: 4px;
    border-radius: 20px;
    transform: translateX(50%);
    background: var(--card-cover-underline);
}

body > article header button {
    display: flex;
    justify-content: center;
    width: clamp(200px, 100%, 300px);
    padding: 10px 10px;
    border-radius: 20px;
    background-color: black;
    color: white;
    font-weight: bold;
}

body > article main {
    position: absolute;
    inset: 0;
    padding: 100px 10px 10px;
    border-radius: var(--border-radius);
    background-color: var(--card-color);
    overflow: hidden;
}

body > article main > article {
    padding: 10px 20px;
    translate: 0 -100%;
    transition: translate 0.6s ease-in-out 0.4s;
}

body:has(header.hide) > article main > article {
    translate: 0 calc(15% + 40px);
}

@media (max-width: 440px) {
    body:has(header.hide) > article main > article {
        translate: 0 calc(15%);
    }
}

body > article footer {
    position: absolute;
    bottom: 0;
    inset-inline: 0;
    border-radius: 0 0 var(--border-radius) var(--border-radius);
    transition: border-radius 0.6s ease-in-out;
    overflow: hidden;
}

body:has(header.hide) > article footer {
    border-radius: 0;
}

body > article footer section{
    display: flex;
    justify-content: space-between;
}

body > article footer section a{
    flex: 1 0;
    display: grid;
    place-content: center;
    padding: 20px;
    /* border: 1px solid var(--border-color); */
    color: white;
    font-weight: 700;
    transition: filter 0.3s ease-in-out;
}

body > article footer section a:hover{
    filter: brightness(1.1);
}

body > article footer section a:first-of-type{
    background-color: var(--github-color);
}

body > article footer section a:last-of-type{
    background-color: var(--linkedin-color);
}


@keyframes hint {
    0% {
        transform: translateY(0);
    }
    10% {
        transform: translateY(-20px);
    }
    50% {
        transform: translateY(-30px);
    }
    60% {
        transform: translateY(0);
    }

    60%{
        padding-left: 10px;
    }
    61%{
        padding-left: 0;
        padding-right: 10px;
    }
    62%{
        padding-right: 0;
        padding-left: 10px;
    }
    63%{
        padding-left: 0;
        padding-right: 10px;
    }
    64%{
        padding-right: 0;
        padding-left: 10px;
    }
    65%{
        padding-left: 0;
        padding-right: 10px;
    }
    66%{
        padding-right: 0;
        padding-left: 10px;
    }
    67%{
        padding-left: 0;
    }

    100% {
        transform: translateY(0);
    }
}